{% extends 'erp/common/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block main %}
		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>SQ Fashion</h1>
						<p>e-Commer Made Easy</p>
                        {% block login %}
                        {#  login button #}
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                        {% endblock %}

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="http://github.com/fengxia41103/fashion" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:feng_xia41103@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
                      {% for v in vendors %}
                      {% for a in v.attachments.all %}
						<article>
							<a class="thumbnail" href="{{ a.file.url }}" data-position="top left">
                              <img src="{{ a.file.url }}" alt="" />
                            </a>
							<h2>{{ v.name }}</h2>
							<p>{{ v.description }}</p>
						</article>
                        {% endfor %}
                      {% endfor %}
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; PY Consulting Ltd.</li><li>Learn more:<a href="http://fengxia.co">blog</a>.</li>
						</ul>
					</footer>

			</div>

{% endblock %}

{% block theme_css %}
<link rel="stylesheet" type="text/css" href="{% static 'theme/lens/assets/css/main.css' %}">
{% endblock %}

{% block theme_js %}
<script type="text/javascript"
    src="{% static 'theme/lens/assets/js/skel.min.js' %}">
</script>
<script type="text/javascript"
    src="{% static 'theme/lens/assets/js/main.js' %}">
</script>
{% endblock %}

{% block navbar %}
{% endblock %}
{% block footer %}
{% endblock %}
