{% extends "erp/common/base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block page-header %}
<ol class="breadcrumb">
  <li>
	ALL SEASONS
  </li>
</ol>
{% endblock %}


{% block content %}
<ul class="list-inline">
	{% for season in object_list %}
	<li>
	<a href="{% url 'season_detail' season.id %}">{{ season.name }}/</a>
	</li>
	{% endfor %}
</ul>

<div class="my-multicol-2">
{% for season in object_list %}
<section class="pin-card" style="" id="{{vendor.id}}">
	<div class="page-header">
		<h4>
			{{ season.name}}
			<a class="pull-right"
			title="View season detail"
			data-toggle="tooltip"
			href="{% url 'season_detail' season.id %}">
				<i class="fa fa-external-link"></i>
			</a>
		</h4>
	</div>

	<div class="" style="padding:0px 0;">
		{% for brand in season.vendors %}
		{{ brand.name }}
		{% with brand.attachments.all.0 as img %}
			<a href="{% url 'item_list_by_vendor' season.id brand.id %}" >
				<img src="{{img.file.url}}" class="img-responsive center-block"
				style="margin-bottom:20px;max-width:80%;"
				data-toggle="tooltip"
				title="Click to view {{season}} {{brand.name}} details"
				>
			</a>
		{% endwith %}
		{% endfor %}
	</div>

	<div class="" style="border-top: 1px solid #ddd;margin-top:10px;margin-bottom:10px;">
			<span class="text-right item-label pull-right">
			<i class="fa fa-tag"></i>
			{{season}}: {{ season.vendors|length}} brands
			</span>
	</div>
</section>
{% endfor %}
</div>
{% endblock %}
