{% extends 'erp/common/home.html' %}
{% load crispy_forms_tags %} 

{% block main %}
<div class="modal-dialog modal-body">
    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    {% if form.errors %}
        <div class="alert alert-danger">
            <p>Your username and password didn’t match. Please try again.</p>
        </div>
    {% endif %}

    <ul class="list-inline modal-footer">
        <li>
            <a href="{% url 'user_register' %}">新用户注册</a>         
        </li><li>
            <input class="btn btn-primary default" type="submit" value="登录" />
        </li><li>
            <btn class="btn btn-default" data-dismiss="modal">取消</btn>
        </li>
    </ul>
    </form>  
</div>     
{% endblock %}
