{% extends 'erp/common/home.html' %}
{% load crispy_forms_tags %}

{% block login %}
<div class="pin-card col-md-6">
<form action="{% url 'user_register' %}" method="POST">
{% csrf_token %}
{{ form|crispy }}
{% if form.errors %}
    <div class="alert alert-danger">
        <p>Your username/password are not successful. Please try again.</p>
    </div>
{% endif %}

<ul class="list-inline modal-footer">
    <li>
        <a href="{% url 'login' %}">Login here</a>
    </li><li>
        <input class="btn btn-primary" type="submit" value="Regisgter" />
        <input type="hidden" name="next" value="{% url 'login' %}" />
    </li><li>
        <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
    </li>
</ul>
</form>
</div>
{% endblock %}
