{% extends "erp/common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page-header %}
	Create Sales Order
{% endblock %}


{% block content %}
<form action="" method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary start">
		<i class="fa fa-plus-square"></i>
		<span>Create order</span>
	</button>	
</form>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
j$(document).ready(function(){
	j$('[data-toggle="plus"]').click(function(){
		var current_val = parseInt(j$(this).parent().siblings('input').val());
		var max_val = parseInt(j$(this).parent().siblings('input').attr('max'));
		if ((current_val+1)<=max_val){
			j$(this).parent().siblings('input').val(current_val+1);

			// Highlight as long as this line has changed
			j$(this).parents('tr').addClass('danger');

			// Toggle set-zero button if any
			j$(this).siblings('[data-toggle="set-zero"]').hide();
			j$(this).siblings('[data-toggle="set-zero"]').children('i').removeClass("fa-star");

			// enable minus
			j$(this).siblings('[data-toggle="minus"]').prop('disabled', false);

			// show preview button
			j$('#preview').show();
		}
		if ((current_val+1)==max_val){
			j$(this).prop('disabled', true);;
			// j$(this).siblings('[data-toggle="minus"]').prop('disabled', false);
		}
	});
	j$('[data-toggle="minus"]').click(function(){
		var current_val = parseInt(j$(this).parent().siblings('input').val());
		var min_val = parseInt(j$(this).parent().siblings('input').attr('min'));
		if ((current_val-1)>=min_val){
			j$(this).parent().siblings('input').val(current_val-1);

			// Highlight as long as this line has changed
			j$(this).parents('tr').addClass('danger');

		}
		if ((current_val-1)==min_val){
			j$(this).prop('disabled', true);
			j$(this).siblings('[data-toggle="plus"]').prop('disabled', false);
			j$(this).parents('tr').removeClass('danger');

			// show set zero option
			j$(this).siblings('[data-toggle="set-zero"]').show();
		}
	});

	j$("#btn-clear-all").click(function(){
		j$("input[data-toggle='qty']").val(0);
		j$("tr").removeClass('danger');
		j$('#preview').hide();
		j$('[data-toggle="set-zero"]').children('i').addClass('fa-star');
	});

	j$("#btn-fill-all").click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,value){
			var max_val = parseInt(j$(value).attr('max'));
			j$(value).val(max_val);
			j$(value).parents('tr').addClass("danger");
		});
		j$('[data-toggle="set-zero"]').children('i').removeClass('fa-star');
		j$('#preview').show();
	});

	// preview function
	j$('#preview').click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,val){
			var current_val = parseInt(j$(val).val());
			if (current_val<1){
				if (j$(this).siblings('input[type="checkbox"]').prop("checked")){

				}else{
					j$(val).parents('tr').hide();
				}
			}
		});
		j$(this).hide();
		j$('#reset').show();
		return false; // prevent form submission
	});

	// reset function
	j$('#reset').click(function(){
		j$.each(j$("input[data-toggle='qty']"),function(index,val){
			j$(val).parents('tr').show();
		});
		j$(this).hide();
		return false; // prevent form submission
	});		
});
</script>
{% block custom_js_2 %}
{% endblock %}
{% endblock %}

