{% extends "erp/common/base.html" %}

{% block page-header %}
	采购订单: {{ object.code }}
	{% if not object.is_editable %}
		<i class="fa fa-lock"></i>
	{% endif %}	
{% endblock %}

{% block content %}
<div class="row text-center">
	{% if object.is_editable %}
		<button class="btn btn-small btn-default"
		data-toggle="modal" data-target="#po-edit">
			<i class='fa fa-pencil'></i>
			Edit
		</button>				
		<button class="btn btn-small btn-danger"
		data-toggle="modal" data-target="#po-delete">
			<i class='fa fa-pencil'></i>
			Cancel order
		</button>
		<button class="btn btn-small my-command-btn"
		data-toggle="modal" data-target="#po-place">
			<i class='fa fa-pencil'></i>
			Place order
		</button>		

	{% else %}
		<button class="btn btn-small my-command-btn">
			<a href="{% url 'vendor_invoice_add' object.vendor.id %}">
				<i class='fa fa-pencil'></i>
				Save a {{object.vendor}} invoice
			</a>
		</button>		
	{% endif %}

</div>

{# order header #}
<h2>Summary</h2>
<div class="panel panel-default">
  	<div class="panel-body">
	<div class="row ">
		<div class="col-md-2"><label>Vendor</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.vendor }}</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Created on</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.created_on }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row ">
		<div class="col-md-2"><label>Associated SO</label></div>
		<div class="col-md-3 my-sf-display-border">
			{% if object.so %}
				<a href="{% url 'so_detail' object.so.id %}">{{ object.so }}</a>
			{% else %}
				N/A
			{% endif %}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Total QTY</label></div>
		<div class="col-md-3 my-sf-display-border">{{ object.order_qty|floatformat:0 }}</div>
		<div class="col-md-1"></div>		
	</div><div class="row ">
		<div class="col-md-2"><label>Total line items</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.line_items|length }}
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2"><label>Total VALUE</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.vendor.currency}}{{ object.order_value|floatformat:2 }}
		</div>
		<div class="col-md-1"></div>		
	</div><div class="row ">
		<div class="col-md-2"><label>In Currency</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.vendor.currency.name }}
		</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Order placed on</label></div>
		<div class="col-md-3 my-sf-display-border">
			{% if object.placed_on %}
				{{ object.placed_on }}
			{% else %}
				&nbsp;
			{% endif %}
		</div>
		<div class="col-md-1"></div>		
	</div>
	</div>
</div>

<h2>Fullfillments</h2>
<div class="panel panel-default">
  	<div class="panel-body">
	<div class="row ">
		<div class="col-md-2"><label>Fullfill QTY</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.fullfill_qty }}
		</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Fullfill value</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.fullfill_value|floatformat:2 }}
		</div>
		<div class="col-md-1"></div>		
	</div><div class="row ">
		<div class="col-md-2"><label>Fullfill rate by QTY</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.fullfill_rate_by_qty|floatformat:2 }}%
		</div>
		<div class="col-md-1"></div>		
		<div class="col-md-2"><label>Fullfill rate by value</label></div>
		<div class="col-md-3 my-sf-display-border">
			{{ object.fullfill_rate_by_value|floatformat:2 }}%
		</div>
		<div class="col-md-1"></div>		
	</div>
	</div>
</div>

<h2>Order Details</h2>
<table class="table table-striped table-hover table-responsive">
	<thead>
		<th>INVENTORY SKU</th>
		<th>PRODUCT ID</th>
		<th>STYLE</th>
		<th>COLOR</th>
		<th>SIZE</th>
		<th>UNIT PRICE</th>
		<th>ORDER QTY</th>
		<th>ORDER VALUE</th>
		<th>AVAILABLE IN</th>
	</thead>

	<tbody>
	{% for line_item in object.line_items %}
		{% with line_item.inv_item as inv_item %}
		{% with inv_item.item as item %}
		<tr><td>
			{{ inv_item.code }}
		</td><td>
			{{ item.product_id }}
		</td><td>
			<a href="{% url 'item_detail' item.id %}">{{ item.name }}</a>
		</td><td>
			{{ item.color }}
		</td><td>
			{{ inv_item.size }}
		</td><td>
			{{ object.vendor.currency }}{{ line_item.price|floatformat:2 }}			
		</td><td>
			{{ line_item.qty }}
		</td><td>
			{{ object.vendor.currency }}{{ line_item.value|floatformat:2 }}
		</td><td>
			<select class="my-select" data-toggle="availability" id="line-item-{{line_item.id}}">
				{% for a,b in months %}
					{% if line_item.available_in == a %}
						<option value="{{a}}" selected="selected">{{b}}</option>
					{% else %}
						<option value="{{a}}">{{b}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</td></tr>
		{% endwith %}
		{% endwith %}
	{% endfor %}
	</tbody>
</table>

{% if fullfillments %}
{# Related fullfillment Section #}
<h2 class="page-header">
<i class="fa fa-book"></i>
Fullfillment details
</h2>
<table class="table table-striped table-hover table-responsive">
	<thead>
		<th></th>
		<th>FULLFILLMENT</th>
		<th>QTY</th>
		<th>VALUE</th>
		<th>RELATED INVOICES</th>
		<th>CREATED ON</th>
		<th>REVIEWED ON</th>
	</thead>
	<tbody>
		{% for f in fullfillments %}
		<tr><td>
			<a href="{% url 'po_fullfill_detail' f.id %}">Detail</a>
		</td><td>
			{{ f.code }}
			{% if not f.is_editable %}
				<i class="fa fa-lock"></i>
			{% endif %}
		</td><td>
			{{ f.qty }}
		</td><td>
			{{ f.value|floatformat:2 }}
		</td><td>
			{% for invoice in  f.invoices.all %}
				<a href="{% url 'invoice_detail' invoice.id %}">{{ invoice }}
				{% if not invoice.is_editable %}
					<i class="fa fa-lock"></i>
				{% endif %}
				</a>
			{% endfor %}
		</td><td>
			{{ f.created_on }}
		</td><td>
			{{ f.reviewed_on }}
		</td></tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}

{% block modal %}
{# Place order modal #}
<div id="po-place" class="modal fade" role="dialog">
<div class="modal-dialog">
<form action="{% url 'po_place' object.id %}" method="POST">
	{% csrf_token %}
	
    <!-- Modal content-->
    <div class="modal-content">
		{# Modal header #}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Place order</h4>
		</div>

	    {# Modal body #}
	    <div class="modal-body">			
	    	<p>
			This will send order to {{ object.vendor }}. Depending on your term with {{object.vendor}}, you may not be able to recall this order and thus have a responsibility to
			make proper payment to this vendor.
			</p>

			<p class="alert alert-warning">
			Are you sure to proceed?
			</p>
		</div>

	      {# Modal footer #}
		<div class="modal-footer">
			<button class="btn btn-primary"  type="submit">
				<i class="fa fa-lock"></i>
				<span>Yes</span>
			</button>      
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
		</div>
	</div>
</form>
</div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
j$(document).ready(function(){
	j$('[data-toggle="availability"]').change(function(){
		j$.post(
			"{% url 'po_availability' %}",
			{
				'id':j$(this).attr('id'),
				'val':j$(this).val()
			},
			function(){
				toastr.success('Item availability has been updated.');
			}
		);
	});
});
</script>
{% endblock %}