{% extends "erp/common/base.html" %}

{% block page-header %}
	Purchase Order
	<a href="{% url 'po_add' %}" class="btn btn-xs addlink">
		<i class="fa fa-plus"></i>
		Add
	</a>
{% endblock %}


{% block content %}
	{% include "erp/common/filter.html" %}

	<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
		<th></th>
		<th>VENDOR</th>
		<th>CODE</th>
		<th>ASSOCIATED SALES ORDER</th>
		<th>TO LOCATION</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in object_list %}
		<tr><td>
			<a href="{% url 'po_detail' obj.id %}">Detail</a>

			{% if obj.is_editable %}
				| <a href="{% url 'po_delete' obj.id %}">Cancel</a>
			{% endif %}
		</td><td>
			{{ obj.vendor }}
		</td><td>
			{{ obj.code }}
			{% if not obj.is_editable %}
				<i class="fa fa-lock"></i>
			{% endif %}
		</td><td>
			{{ obj.so }}
		</td><td>
			{{ obj.location }}
		</td></tr>
    	{% endfor %}
	</tbody>
	</table>
{% endblock %}

{% block modal %}
{% endblock %}

